<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>




<% @orders.each do |encomenda| %>

<% end %>

<h3>Encomendas</h3>
<table>
  <thead>
    <tr>
      <th>
        Numero
      </th>
      <th>
        Pago?
      </th>
      <th>
        Enviado?
      </th>
      <th>
        Gateways
      </th>
      <th>
        Gateway
      </th>
      <th>
        Peso
      </th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <% if order.gateway == "Multibanco" %>
        <tr>
          <td>
            <a href='https://<%="#{@shop_session.url}/admin/orders/#{order.id}"%>' target="_blank"> <%= order.order_number %> </a>
          </td>
          <td>
            <%= order.financial_status %>
          </td>
          <td>
            <%= order.fulfillment_status %>
          </td>
          <td>
            <%= order.payment_gateway_names %>
          </td>
          <td>
            <%= order.gateway %>
          </td>
          <td>
            <%= order.total_weight %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
