<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<h3>Products</h3>
<table>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <a href='https://<%="#{@shop_session.url}/admin/orders/#{order.id}"%>' target="_blank"> <%= order.order_number %> </a>
        </td>
        <td>
          <%= order.financial_status %>
        </td>
        <td>
          <%= order.fulfillment_status %>
        </td>
        <td>
          <%= payment_gateway_names %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
