<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Home",
      icon: "<%= asset_path('faveicon.png') %>"
    });
  });
</script>
<% @orders.each do |encomenda| %>

<% end %>

<h3>Encomendas</h3>
<table>
  <thead>
    <tr>
      <th>
        Numero
      </th>
      <th>
        Pago?
      </th>
      <th>
        Enviado?
      </th>
      <th>
        Gateways
      </th>
      <th>
        Gateway
      </th>
      <th>
        Peso
      </th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <a href='https://<%="#{@shop_session.url}/admin/orders/#{order.id}"%>' target="_blank"> <%= order.order_number %> </a>
        </td>
        <td>
          <%= order.financial_status %>
        </td>
        <td>
          <%= order.fulfillment_status %>
        </td>
        <td>
          <%= order.payment_gateway_names %>
        </td>
        <td>
          <%= order.gateway %>
        </td>
        <td>
          <%= order.total_weight %>g
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
